body {
    width: auto;
    margin: 0;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: lightgray;
}
.pic1 {
    height: 300px;
    width: 100%;
    object-fit: cover; 
    }
.pic3 img {
height: auto;
width: 33%;
}
.p04 {
opacity: .3;    
}
.p07 {
    opacity: .6;    
}
a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}
p {
    font-size: 40px;
}