.none {
    display: none;
}
li {
    display: inline-block;
    padding: 25px 15px;
}
ul{
    background-color: rgb(219, 159, 70);
}
a {
    text-decoration: none;
    color: red;
}
#item {
    border-bottom: 4px solid red;
}
